.listed-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: white;
  border-style: solid;
  border-color: #334155;
  border-width: 1px;
  border-right: none;
  border-left: none;
  width: 100%;
}
.visit-btn {
  background-color: #3b82f6;
  color: #ffffff;
  border: none;
  border-radius: 6px;
  padding: 8px 14px;
  cursor: pointer;
  font-weight: 500;
  height: 30px;
  width: 100px;
}
.visited-btn {
  background-color: transparent;
  color: #ffffff;
  border: none;
  border-radius: 6px;
  padding: 8px 14px;
  font-weight: 500;
  opacity: 0.9;
  cursor: default;
  height: 20px;
  width: 100px;
} 
