.bgContainer {
  min-height: 100vh;
  width: 100vw;
  background-color: #161624;
  display: flex;
  flex-direction: column;
}

.heading {
  color: #ffffff;
  margin-left: 20px;
}

.startingCard {
  background-color: #1f1f2f;
  height: 40vh;
  width: 90vw;
  overflow-y: auto;
  overflow-x: hidden;
  border-radius: 10px;
  align-self: center;
  padding-right: 20px;
}

ul {
  list-style-type: none;
}
.visited-list {
  display: flex;
  flex-direction: wrap;
}
.visited-item {
  display: flex;
  flex-direction: column;
  background-color: #1f1f2f;
  border-radius: 8px;
  overflow: hidden;
  margin: 10px;
  width: 200px;
  color: white;
}

.visited-image {
  width: 100%;
  height: 120px;
  object-fit: cover;
}

.visited-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.visited-name {
  font-size: 16px;
  font-weight: 500;
  margin: 0;
}

.remove-btn {
  background-color: transparent;
  color: #94a3b8;
  border: 1px solid #94a3b8;
  border-radius: 5px;
  padding: 4px 10px;
  cursor: pointer;
  font-weight: 500;
  transition: 0.3s;
}
.no-visited-text {
  color: white;
  text-align: center;
}
